/* Root */

:root {
    /* header height */
    --header-height: 56px;

    /* Colors */
    --primary-color: hsl(359, 77%, 56%);
    --body-color: hsl(5, 7%, 67%);
    --text-color: hsl(206, 14%, 10%);
    --title-color: hsl(330, 10%, 4%);
    --bg-color: hsl(330, 9%, 96%);
    --card-color: hsl(0, 0%, 83%);
    --box-shadowHeader:rgba(0, 0, 0, 0.50);
    --box-shadow: rgba(0, 0, 0, 0.08);
    --box-shadow-effect: rgba(0, 0, 0, 0.22);

    /* Font and Typography */
    /* bodyfont */
    --body-font: 'Lato', sans-serif;
    --tittle-font: 'Poppins', sans-serif;
    --big-font: 2rem;
    --medium-font: 1.5rem;
    --normal-font: 1rem;
    --small-font: .8rem;
    --tiny-font: .75rem;

    /* Font weight */
    --font-tiny: 300;
    --font-normal: 400;
    --font-medium: 600;
    --font-bold: 700;

    /* Margin Bottom */
    --sp-0-5: .5rem;
    --sp-0-75: .75rem;
    --sp-1: 1rem;
    --sp-1-5: 1.5rem;
    --sp-2: 2rem;
    --sp-2-5: 2.5rem;
    --sp-3: 3rem;

    /* z index */
    --z-fixed: 1;
    --z-modal: 2;

    /* Padding */

    --product-padding: 10px 12px;
}

@media screen and (min-width: 992px) {
    :root {
        --big-font: 2.5rem;
        --medium-font: 5rem;
        --normal-font: 1.25rem;
        --small-font: 1rem;
        --tiny-font: .8rem;
    }
}

/* BASE */

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

button,
input,
text {
    font-family: var(--body-font);
    font-size: var(--normal-font);
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font);
    font-weight: var(--font-normal);
    color: var(--text-color);
    background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
    font-family:var(--tittle-font);
    color: var(--tittle-font);
    font-weight: var(--font-medium);
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    user-select: none;
}

/***** Scroll bar *****/

::-webkit-scrollbar {
    width: .6rem;
    background: hsl(0, 0, 74);
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0, 17);
}

/* Selection */

::selection {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

/************ REUSABLE CLASSES  *************/

.section {
    padding: var(--sp-2) 0 var(--sp-1);
}

.section--title,
.container {
    max-width: 1024px;
    margin: 0 1rem;
}

/************ Loader  *************/

.loading-wave {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-bar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--primary-color);
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
  }
  
  .loading-bar:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .loading-bar:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .loading-bar:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  @keyframes loading-wave-animation {
    0% {
      height: 10px;
    }
  
    50% {
      height: 50px;
    }
  
    100% {
      height: 10px;
    }
  }

  .loader--hidden {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
  }

/************ HEADER  *************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--bg-color);
    z-index: var(--z-fixed);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 10%);
    /* border-radius: 0 0 30px 30px; */
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.logo--icon {
    width: 3rem;
    height: 3rem;
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: calc(max-content - var(--header-height));
        padding: var(--sp-3) 0 var(--sp-2);
        background-color: var(--bg-color);
        z-index: var(--z-fixed);
        transition: top .8s ease-in-out;
        border-radius: 0 0 30px 30px;
    }
}

.nav__menu .btn--close {
    position: absolute;
    top: var(--sp-0-75);
    right: var(--sp-0-75);
    width: var(--sp-2);
    height: var(--sp-2);
    font-style: var(--medium-font);
    z-index: var(--z-fixed);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav__link {
    display: flex;
    align-items: center;
    padding: var(--sp-0-75) var(--sp-1);
    color: var(--text-color);
    transition: color .5s ease-in-out;
  }

  .btn--close:hover {
    color: var(--primary-color);
    transition: all .5s ease-in-out;
  }
  
  .nav__link:hover {
    color: var(--primary-color);
  }

  .nav__items {
    position: relative;
  }

  .nav__items a::after {
    content: "";
    position: absolute;
    display: block;
    height: 2.5px;
    width: 0;
    background-color: var(--primary-color);
    bottom: .8em;
    transition: all ease-in-out 500ms;
  }

  .nav__items a:hover::after {
    width: 6%;

  }


  
  .nav__buttons {
    display: flex;
    align-items: center;
    gap: var(--sp-1);
  }
  
  .nav__btn i {
    font-size: 1.25rem;
  }
  
  .btn--cart {
    position: relative;
  }
  
  .notify {
    position: absolute;
    top: -5px;
    right: -11px;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    font-size: var(--tiny-font);
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out,
                visibility .3s ease-in-out;
  }
  
  /* Show Menu */
  .show--menu {
    top: var(--header-height);
  }
  
  /* Show Notify */
  .show--notify {
    opacity: 1;
    visibility: visible;
  }
  

/************* MAIN******* */
/* Products */

.main {
    padding: var(--header-height) 0 0 0;
}

.products__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--sp-2);
}

.products__title {
    margin-bottom: var(--sp-2);
}

.product {
    overflow: hidden;
}

.product__image {

    padding: var(--sp-1);
    background-color: var(--card-color);
}

.product__image img {
    border: 1px solid var(--card-color);
    border-radius: 25px;
    background-color: var(--bg-color);
    transition: transform .5s ease-in-out;
}

.product:hover img {
    transform: translateY(-6px);
    box-shadow: 20px 20px 30px var(--box-shadow);
}

.product__content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: var(--bg-color);
    padding: var(--sp-1-5);
    min-height: 109px;
}

.product__btn {
   position: absolute;
   top: 0;
   right: var(--sp-1-5);
   width: 45px;
   height: 50px;
   background-color:var(--body-color) ;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
   border-radius: 50px;
   transform: translateY(-70%);
   display: flex ;
   justify-content: center;
   align-items: center;
   font-size: 1.25rem;
   transition: background-color .3s ease-in-out,
               color .3s ease-in-out; 
}

.product__btn:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.product__title {
    grid-column: span 3;
}

.product__price {
    grid-column: span 1;
}

.product__stock {
    grid-column: span 2;
    justify-self: flex-end;
}


/* *******Footer *********** */

.footer {
    background-color: var(--card-color);
}

.footer__container,
.footer__top {
    display: grid;
    row-gap: var(--sp-1-5);
}

.footer__title {
    margin-bottom: var(--sp-0-75);
}

.footer__social {
    display: flex;
    align-items: center;
    gap: var(--sp-1-5);
}

.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--sp-2-5);
    height: var(--sp-2-5);
    color: var(--bg-color);
    background-color: var(--title-color);
    border-radius: 50%;
    font-size: var(--sp-1-5);
    transition: background-color .5s ease-in-out ;
}

.footer__link:hover {
    background-color: var(--primary-color);
}

.footer__bottom {
    text-align: center;
}

/********CART ******  */

.cart {
    position: fixed;
    bottom: var(--header-height);
    right: -100%;
    max-width: 390px;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--bg-color);
    z-index: var(--z-fixed);
    transition: right .5s ease-in-out;
}

.cart__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 70% 20%;
    height: 100%;
}

.cart__header {
    display: grid;
    grid-template-columns: 2fr 2fr .5fr;
    align-items: center;
    width: 100%;
    padding: var(--sp-1-5) 0 0 var(--sp-1);
}

.cart__title {
    grid-column: span 2;
}

.cart__btn .btn--close {
    font-size: var(--font-normal);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.cart__body {
    padding: var(--sp-1);
    overflow-y: auto;
    position: relative;
}

.cart__empty {
    display: flex;
    align-items: center;
    gap: var(--sp-0-5);
    font-size: var(--normal-font);
}

.article {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    column-gap: var(--sp-1);
    margin-bottom: var(--sp-1);
}

.article__image {
    position: relative;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border: 1px solid var(--card-color);
    align-self: center;
}

.article__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.article__content {
   display: grid;
   align-items: center;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr 30px; 
}

.article__title {
    grid-column: span 4;
}

.article__quantity {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: var(--sp-1);
}

.remove-from-cart {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.cart__footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    background-color: var(--card-color);
    padding: var(--sp-1);
    row-gap: var(--sp-1);
}

.cart___count {
    grid-column: span 2;
    font-size: var(--small-font);
}

.cart__total {
    grid-column: span 3;
    justify-self: end;
}

.btn--buy {
    grid-column: span 4;
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: var(--sp-1);
    border-radius: 10px;
}

/* ****Show Cart*** */
.show--cart {
    right: 0;
}

/* ****BreakPoints******** */

@media (min-width: 768px) {
    :root {
        --header-height: 75px
    }

    .header {
        top: 0;
        bottom: unset;
    }

    .nav__list {
        display: flex;
        align-items: center;
    }

    .cart_close_btn,
    .btn--menu {
        display: none;
    }

    .main {
        padding-top: var(--header-height);
    }

    .product__title {
        font-size: var(--small-font);
    }

    .cart {
        top: var(--header-height);
    }

    

}

@media (min-width: 1024px) {
  .section--title,
  .container {
    margin: 0 auto;
  }
  
}

/* Modal */

.modal__container {
    position: absolute;
    top: 20%;
    right: 20%;
    left: 20%;
    
}
.modal__container:target {
	opacity:1;
	pointer-events: auto;
}
.modal__container div {
	
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: var(--bg-color);
    border: var(--primary-color);
    box-shadow: 2px 2px 4px var(--primary-color);
}
.close--modal {
	background: var(--bg-color);
	color: var(--title-color);
	line-height: 15px;
	position: absolute;
	text-align: center;
	top: 3%;
    right: 3%;
	width: 15px;
	text-decoration: none;
	font-weight: bold;
}
.close--modal:hover { 
    color: var(--primary-color); 
}

.modal__title,
.modal__text {
    text-align: center;
    align-items: center;
}

.modal--hidden {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
  }

